@model Tournament_App.Models.ViewModels.Home.AnswerPartialViewModel


<div class="flag-container">
    <div class="flag-image">
        <img src="@Model.ImageFileName" class="img-fluid rounded-start">
    </div>

    <div class="flag-content">
        <h5>@Model.Name</h5>
        <p class="flag-points h5">@Model.PointValueText</p>
        <p>@Model.Rarity - @Model.Description</p>
    </div>
</div>
