@using Tournament_App.Models.ViewModels.Banners
@model IList<BannerPartialViewModel>

@using Tournament_App.Services;
@inject IFlagBanner FlagBanner


<div class="carousel-item active">
    <a href="@FlagBanner.Link" target="_blank">
        <img src="@FlagBanner.ImagePath" class="d-block w-100" alt="">
    </a>
</div>

@foreach(var b in Model)
{
    <div class="carousel-item">
        @if(b.HasLink)
        {
            <a href="@b.Link" target="_blank">
                <img src="@b.ImagePath" class="d-block w-100" alt="">
            </a>
        } else
        {
            <img src="@b.ImagePath" class="d-block w-100" alt="">
        }
    </div>
}
