@model IEnumerable<Banner>

<h1>Banner index</h1>
<p>
    <a asp-controller="Banners" asp-action="Create">Create New</a>
</p>

@if(Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Link
                </th>
                <th>
                    File Name
                </th>
                <th>
                    Image
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Banner b in Model)
            {
                <tr>
                    <td><a href="@b.Link">@b.Link</a></td>
                    <td>@b.FileName</td>
                    <td><img src="@(Constants.BannerImagePrefix + b.FileName)" style="max-width: 700px;"/></td>
                    <td>
                        <a asp-controller="Banners" asp-action="Delete" asp-route-Id="@b.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Error: Data model came back null: IEnumerable&lt;Banner&gt;</h2>
}