@model IEnumerable<GameData>

<h1>Manage game data here</h1>

<a asp-controller="GameData" asp-action="Create">Create new game data</a>

@if (Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Teams with access</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(GameData gd in Model)
            {
                <tr>
                    <td>@gd.Name</td>
                    <td>@gd.Description</td>
                    <td>
                        <text>
                            @string.Join(" | ", gd.TeamGameData.Select(t => t.Team.Name).ToArray())
                        </text>
                    </td>
                    <td>
                        <a asp-controller="GameData" asp-action="Delete" asp-route-id="@gd.Id">Delete</a> |
                        <a asp-controller="GameData" asp-action="Download" asp-route-id="@gd.Id">Download</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Null data object!</p>
}