@model Answer

<h1>You are currently editing an answer.</h1>

<ul>
    <li>Name: @Model.Name</li>
    <li>Description: @Model.Description</li>
    <li>Code: @Model.Code</li>
    <li>Point value: @Model.PointValue</li>
    <li>Rarity: <span style="color: @(Constants.GetRarityColor(Model.Rarity)); background-color: #555555">@Model.Rarity.ToString()</span></li>
    <li>Image File Name: @Model.ImageFileName</li>
    <li>Description visible: @Model.DescriptionVisible</li>
    <li>Parent answer: @(Model.ParentAnswer != null ? Model.ParentAnswer.Name : "None")</li>
</ul>

<form asp-controller="Answers" asp-action="Edit" method="post">
    <div>
        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name" value="@Model.Name" />
    </div>
    
    <div>
        <label for="Description">Description</label>
        <input type="text" name="Description" id="Description" value="@Model.Description" />
        <div>
            <input type="checkbox" name="DescriptionVisible" id="DescriptionVisible" />
            <label for="DescriptionVisible">Description Visible</label>
        </div>
    </div>

    <div>
        <label for="Code">Code</label>
        <input type="text" name="Code" id="Code" value="@Model.Code" />
    </div>

    <div>
        <label for="PointValue">Point Value</label>
        <input type="number" step="1" name="PointValue" id="PointValue" value="@Model.PointValue" />
    </div>

    <div class="mb-3">
        <label for="Rarity">Rarity</label>
        <select name="Rarity" id="Rarity">
            @foreach (AnswerRarity r in Enum.GetValues<AnswerRarity>())
            {
                <option
                    value="@((int)r)"
                    style="background-color: @Constants.GetRarityColor(r)"
                    selected="@(Model.Rarity == r)"
                >
                    @r.ToString()
                </option>
            }
        </select>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="FileName" name="FileName" value="@Model.ImageFileName"/>
        <label for="FileName">File Name</label>
    </div>

    <div class="mb-3">
        <label for="ParentAnswer">Parent Answer</label>
        <select name="ParentAnswer" asp-items="@ViewBag.AnswerList" value="@Model.ParentAnswerId">
            <option value="">None</option>
        </select>
    </div>


    <input type="submit" value="Submit" class="btn btn-primary" />
</form>